<ion-view view-title="Storage (Local)">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Values</div>
      <div class="item item-body">
          {{items}}
      </div>
    </div>
      
    <button class="button button-block button-positive" ng-click="sync(items)">Sync Data</button>
  </ion-content>
</ion-view>
